## Data folder. With Github we will have backup of every .tex and do file every day we make a commit


##folders : example **/FAIS*, **/analysis/scripts/logs* or **/r_data/*
**/03_Tool/*
**/data/*
**/products/*

## Other no code files 
*.stswp